/** styles for content page of cookbook **/

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

input,
button {
  outline: none;
}

body {
  background: #1d1e24;
  color: #aaa;
}

body,
h1,
h2,
h3,
h4,
button,
ul,
ol,
li,
dd,
dl,
dt,
img,
a,
main,
article,
header,
aside,
p,
tbody,
tr,
td,
thead,
blockquote,
b,
i,
figure,
figcaption {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif, Arial;
}

code {
  color: #f1ca7c;
  font-family: Roboto, sans-serif, Arial;
}

del {
  color: #f1ca7c;
}

strong,
b {
  color: #fff;
}

em,
i {
  font-family: "雅痞", Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 32px;
  color: #fff;
  padding-top: 1rem;
  display: inline-block;
}

kbd {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 2px;
  padding: 3px 5px;
  color: #dfe5ef;
}

header {
  height: 90px;
  line-height: 90px;
  width: 100%;
  box-shadow: 0 0 0.3rem 0.2rem #000;
  position: fixed;
  top: 0;
  display: flex;
  z-index: 1;
}

/* logo */
header > a > img {
  width: 250px;
  padding: 25px 45px 0 50px;
  float: left;
}

header > nav {
  width: 251px;
  text-align: center;
  margin: 24px 0 0 44px;
  box-sizing: border-box;
  border-left: 1px solid #333;
  height: 40px;
  padding-left: 30px;
  position: relative;
}

article a {
  color: #1BA9F5;
}

article a strong {
  color: #1BA9F5;
}

header > nav a {
  width: 33px;
  height: 33px;
  line-height: 35px;
  border: 1px solid #fff;
  border-radius: 33px;
  color: #fff;
  float: left;
  margin: 0 15px;
}

article a:hover {
  text-decoration: underline;
}

header > nav a:first-child {
  font-size: 1.3rem;
}

header > nav a:last-child {
  font-size: 1.2rem;
}

header > nav a img {
  width: 22px;
  height: 22px;
  margin: 4px 0 0 2px;
}

main {
  width: 100%;
  height: 100%;
  position: fixed;
  box-sizing: border-box;
  display: flex;
  padding: 120px 0 0 0;
}

main article {
  width: calc(100% - 250px);
  height: 100%;
  box-sizing: border-box;
  padding: 0 40px 3rem 345px;
  font-size: 16px;
  overflow-y: auto;
  overflow-x: hidden;
  border-right: 1px solid #333;
}

/*滚动条样式*/
main article::-webkit-scrollbar,
.toc::-webkit-scrollbar,
aside ul::-webkit-scrollbar,
.hljs::-webkit-scrollbar,
table tbody::-webkit-scrollbar,
code pre::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

main article::-webkit-scrollbar-thumb,
.toc::-webkit-scrollbar-thumb,
aside ul::-webkit-scrollbar-thumb,
.hljs::-webkit-scrollbar-thumb,
table tbody::-webkit-scrollbar-thumb,
code pre::-webkit-scrollbar-thumb {
  border-radius: 5px;
  box-shadow: inset 0 0 5px rgba(225,225,225,0.1);
  background: rgba(200,200,200,0.1);
}

main article::-webkit-scrollbar-track,
.toc::-webkit-scrollbar-track,
aside ul::-webkit-scrollbar-track,
.hljs::-webkit-scrollbar-track,
table tbody::-webkit-scrollbar-track,
code pre::-webkit-scrollbar-track  {
  box-shadow: inset 0 0 5px rgba(20,20,20,0.1);
  border-radius: 0;
  background: rgba(20,20,20,0.2);
}

main article header {
  height: auto;
  line-height: 2rem;
  display: block;
  box-shadow: none;
  font-size: 14px;
  margin-bottom: 1rem;
  position: relative;
  padding-left: 4rem;
  width: calc(100% - 64px);
}

main article header::before {
  position: absolute;
  top: 32px;
  left: -27px;
  content: "{";
  font-size: 138px;
  color: rgb(23, 51, 89);
  font-family: Courier New, sans-serif, Arial;
  font-weight: normal;
}

main article p {
  line-height: 2rem;
  padding-top: 1.2rem;
}

main article em {
  padding: 0 4px 0 1px;
}

main article img {
  max-width: 100%;
}

main blockquote p {
  font-size: 18px;
  padding: 0.1rem;
  font-family: 'LingWai SC', 'Wawati SC', Herculanum, sans-serif;
}

blockquote {
  border-left: 0.4rem solid rgb(2, 85, 136);
  padding: 0.5rem 1rem;
  background: rgb(42, 44, 53);
  margin-top: 1.8rem;
}

main article header p {
  padding: 0 0 1rem;
  color: #888;
  font-size: 14px;
}

main article header span {
  color: #666;
}

main article header span:nth-child(2) {
  margin-left: 1.88rem;
}

main article h2 {
  font-size: 28px;
  margin-top: 3rem;
  padding-bottom: 0.7rem;
  border-bottom: 0.06rem solid #fdd224;
  color: #fdd224;
}

main article h3 {
  font-size: 22px;
  margin-top: 2.5rem;
  color: #fdd224;
  opacity: 0.9;
}

main article h4 {
  font-size: 18px;
  padding-top: 1.5rem;
  margin-bottom: -0.5rem;
  color: #f1ca7c;
  opacity: 0.8;
}

main article pre + h4 {
  padding-top: 0.5rem;
}

main ul,
main ol,
main dl {
  margin-top: 1.9rem;
}

main ul li {
  line-height: 1.8rem;
  margin-bottom: 0.5rem;
  list-style: square;
  list-style-position: inside;
}

main ul li ol li {
  background: none;
}

main ul li ol {
  margin: 0.5rem 0 0 1.6rem;
}

main ul li ul li {
  line-height: 1.5rem;
  margin: 0.5rem 0 0 1.5rem;
}

main ul li ul,
main ol li ol {
  margin-top: 0rem;
}

main ul li p,
main ol li p {
  padding: 0;
}

main ol li {
  list-style-type: decimal;
  line-height: 1.8rem;
  margin-bottom: 0.5rem;
  list-style-position: inside;
}

main ol li ul li {
  list-style-type: none;
  margin-left: 0;
  list-style: square;
  list-style-position: inside;
}

main ol li ul {
  margin: 0.5rem 0 0 1.4rem;
}

main ol li ol li {
  margin: 0.5rem 0 0 1.1rem;
}

main ol li p {
  padding: 0;
}

main dl dt {
  color: #ddd;
  padding-bottom: 15px;
}

main dl dd {
  padding: 0 0 30px 35px;
  line-height: 2rem;
}

.headerlink {
  margin-left: 1rem;
}

hr {
  width: 100%;
  border: 1px solid #ddd;
  margin-top: 2.5rem;
}

.admonition {
  margin-top: 2.2rem;
  box-sizing: border-box;
  padding: 0.7rem 1.2rem;
  position: relative;
  color: #dfe5ef;
}

.admonition-title {
  font-size: 18px;
  font-weight: bold;
  color: #fff;
}

.admonition p {
  padding: 0;
}

.warn {
  border: 0.25rem solid rgb(233, 173, 79);
  background: rgba(233, 173, 79, 0.15);
}

.warn::before {
  position: absolute;
  content: ".";
  color: rgba(1, 1, 1, 0);
  top: -0.25rem;
  left: 1.2rem;
  height: 0.25rem;
  width: 4.4rem;
  background: url("/static/img/admonition.png") no-repeat left top;
}

.error {
  border: 0.25rem solid rgb(209, 0, 17);
  background:rgba(209, 0, 17, 0.15);
}

.error::before {
  position: absolute;
  content: ".";
  color: rgba(1, 1, 1, 0);
  top: -0.25rem;
  left: 1.2rem;
  height: 0.25rem;
  width: 4.4rem;
  background: url("/static/img/admonition.png") no-repeat left -10px;
}

.info {
  border: 0.25rem solid rgb(238, 238, 238);
  background:rgba(238, 238, 238, 0.15);
}

.info::before {
  position: absolute;
  content: ".";
  color: rgba(1, 1, 1, 0);
  top: -0.25rem;
  left: 1.2rem;
  height: 0.25rem;
  width: 4.4rem;
  background: url("/static/img/admonition.png") no-repeat left -5px;
}

#company-logo a {
  border: 1px solid rgb(218, 218, 218);
  display: inline-block;
  color: rgb(255, 255, 255);
  padding: 0.7rem 1.2rem;
  border-radius: 5px;
  text-align: left;
}

#company-logo p {
  line-height: 0;
  padding: 0.4rem 0 0.9rem;
  font-size: 12px;
  color: #ddd;
}

#company-logo {
  background: none;
  border: 0;
  position: fixed;
  z-index: 1;
  bottom: 27px;
  left: 50px;
}

#company-logo img {
  width: 9rem;
}


@media (min-width: 1600px) {
  .column { 
    width: 100%;
    clear: both;
    display: inline-block;
    column-width: 500px;
  }

  .column li {
    padding-right: 30px;
    box-sizing: border-box;
  }
}
