/**
 * 维基百科-计算机科学页面
*/

header > a > img {
  padding-top: 2px;
}

.toc ul {
  height: calc(100% - 66px);
  overflow-y: auto;
}

main article {
  width: 100%;
}

/*滚动条样式*/
.toc ul::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

.toc ul::-webkit-scrollbar-thumb {
  border-radius: 5px;
  box-shadow: inset 0 0 5px rgba(0,0,0,0.1);
  background: rgba(0,0,0,0.2);
}

.toc ul::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(0,0,0,0.1);
  border-radius: 0;
  background: rgba(0,0,0,0.1);
}

main article h2 {
  margin-top: 2.5rem;
}

main article h3 {
  margin-top: 2rem;
}

main article img {
  width: auto;
}

main ul {
  margin-top: 1rem;
}

main dl {
  margin-top: 0;
}

main dl dt {
  padding-top: 1.7rem;
  padding-bottom: 10px;
}

main dl dd {
  padding-bottom: 0;
}

main dl dd ul {
  margin-top: 0.4rem;
}

figure {
  width: 220px;
  float: left;
  text-align: center;
  border: 1px solid #666;
  margin: 1.9rem 1rem 0 0;
  background: rgb(42, 44, 53);
}

figure img {
  box-sizing: border-box;
  padding: 0.7rem 1rem;
}

figcaption {
  padding: 0.5rem;
  box-sizing: border-box;
  border-top: 1px solid #666;
  font-size: 14px;
}

.copyright {
  width: 270px;
  font-size: 16px;
  text-align: center;
  position: absolute;
  bottom: 4%;
  left: 0;
  color: #999;
}

table {
  border-spacing: 0;
  margin-top: 2rem;
  border: 1px solid #666;
  background: rgb(42, 44, 53);
  border-left: none;
  border-bottom: none;
}

table tr td {
  border-bottom: 1px solid #666;
  border-left: 1px solid #666;
  line-height: 1.8rem;
  min-width: 140px;
  padding: 0.5rem 0.5rem 0.5rem 1.2rem;
}

.navbox table {
  width: 100%;
  border: 1px solid #666;
  margin-bottom: 20px;
  background: none;
  padding: 2px 2px 0 2px;
  margin-top: 0;
}

.navbox table table {
  border: none;
  padding: 0;
  margin: 0;
}

.navbox table tr td {
  padding: 0;
  border-bottom: none;
  min-width: auto;
  line-height: 30px;
  border-left: none;
}

.navbox table table {
  width: 100%;
}

.navbox > table > tbody > tr > th[scope="col"] {
  width: 100%;
  background: #333;
  display: inline-block;
  line-height: 34px;
}

.navbox th {
  background: #444;
  line-height: 30px;
}

.navbox table > tbody > tr > td > table > tbody > tr > td > table > tbody > tr {
  display: flex;
  width: 100%;
}

.navbox th[scope="row"] {
  background: #666;
  width: 150px;
  margin-right: 2px;
}

.navbox table td {
  flex: 1;
}

.navbox table tbody tr {
  border-bottom: 1px solid #666;
  margin-bottom: 2px;
  width: 100%;
  display: flex;
}

.navbox table tbody tr:last-child {
  border-bottom: none;
}


.navbox > table > tbody > tr > td[colspan="2"] > table > tbody > tr > th[scope="col"] {
  width: 100%;
  display: inline-block;
}

.navbox > table > tbody > tr > td[colspan="3"] {
  background: #444;
  text-align: center;
}

.navbox > table > tbody > tr > td[rowspan="5"]{
  flex: none;
  border-left: 1px solid #666;
  padding: 0 10px;
}

.navbox > table > tbody > tr > td[rowspan="5"] div {
  display: inline-block;
}

.navbox > table > tbody > tr > td[colspan="2"] {
  width: 100%;
  display: inline-block;
}

.navbox > table > tbody > tr > td[colspan="2"] > div {
  text-align: center;
  background: #444;
  line-height: 30px;
}

.navbox table ul {
  margin: 0;
  display: inline-block;
  vertical-align: middle;
  padding-left: 10px;
}

.navbox table ul li ul {
  padding: 0;
}

.navbox table ul li ul li {
  font-size: 13px;
  padding: 0 10px 0 0;
}

.navbox table ul li {
  float: left;
  list-style: none;
  line-height: 30px;
  margin: 0;
  padding: 0 10px;
}
