/* styles for <toc> of content page */

.toc {
  background: rgb(36, 37, 39);
  width: 290px;
  height: 100%;
  position: absolute;
  left: 0;
  box-sizing: border-box;
  margin-left: 90px;
  padding-top: 30px;
}

.toc ul {
  width: 100%;
  height: calc(100% - 240px);
  box-sizing: border-box;
  margin: 0;
  overflow-y: auto;
  border-bottom: 1px dashed #666;
}

.toc ul li {
  line-height: 48px;
  background: none;
  background-size: 0.63rem;
  font-size: 14px;
  padding: 0;
  margin: 0;
}

.toc button a {
  border: 1px solid rgb(218, 218, 218);
  display: inline-block;
  color: rgb(255, 255, 255);
  padding: 0.7rem 1.2rem;
  border-radius: 5px;
  text-align: left;
}

.toc ul li a {
  width: 100%;
  display: inline-block;
  padding-left: 34px;
  color: rgb(153, 153, 153);
  box-sizing: border-box;
}

.toc ul li ul {
  display: none;
  width: 100%;
  padding: 0.19rem 0 0.19rem 2.1rem;
  box-sizing: border-box;
  height: auto;
  border-bottom: none;
}

.toc ul li li {
  border-left: 0.06rem solid #333;
  font-size: 12px;
  overflow-y: auto;
  white-space: nowrap;
  line-height: 2.1rem;
}

.toc li.active a {
  border-left: 3px solid rgb(153, 153, 153);
  color: rgb(238, 238, 238);
  padding-left: 31px;
  background: rgb(48, 48, 49);
}

.toc ul li a:hover {
  text-decoration: none;
  color: #fff;
}

.toc ul li.active li a {
  padding-left: 21px;
}

.toc li.active ul li a {
  color: rgb(123, 124, 127);
  background: none;
  border: none;
}

.toc li ul li.selected a {
  color: #fff;
}

.toc ul li.active li:hover a {
  color: #fff;
}

.toc li ul li.selected {
  border-left: 0.06rem solid #888;
}

.toc li.active ul {
  display: block;
}

.toc button p {
  line-height: 0;
  padding: 0.4rem 0 0.9rem;
  font-size: 0.2rem;
  color: #ddd;
}

.toc button {
  background: none;
  border: 0;
  position: fixed;
  bottom: 27px;
  left: 124px;
}

.toc button img {
  fill: #fff;
  width: 9rem;
}

.toc button em {
  height: 1rem;
  overflow: hidden;
  display: inline-block;
}
