/**
 * 维基百科-计算机科学页面
*/

header > a > img {
  padding-top: 2px;
}

.toc ul {
  height: calc(100% - 66px);
  overflow-y: auto;
}

/*滚动条样式*/
.toc ul::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

.toc ul::-webkit-scrollbar-thumb {
  border-radius: 5px;
  box-shadow: inset 0 0 5px rgba(0,0,0,0.1);
  background: rgba(0,0,0,0.2);
}

.toc ul::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(0,0,0,0.1);
  border-radius: 0;
  background: rgba(0,0,0,0.1);
}

main article h2 {
  margin-top: 2.5rem;
}

main article h3 {
  margin-top: 2rem;
}

main article img {
  width: auto;
}

main dl {
  margin-top: 0;
}

main dl dt {
  padding-top: 1.7rem;
  padding-bottom: 10px;
}

main dl dd {
  padding-bottom: 0;
}

main dl dd ul {
  margin-top: 0.4rem;
}

figure {
  width: 220px;
  float: left;
  text-align: center;
  border: 1px solid #666;
  margin: 1.9rem 1rem 0 0;
  background: rgb(42, 44, 53);
}

figure img {
  box-sizing: border-box;
  padding: 0.7rem 1rem;
}

figcaption {
  padding: 0.5rem;
  box-sizing: border-box;
  border-top: 1px solid #666;
  font-size: 14px;
}
