/* styles for Contributors of content page */

aside {
  height: 100%;
  position: fixed;
  right: 0;
  flex: 1;
  width: 250px;
  box-sizing: border-box;
}

aside ul {
  width: 100%;
  height: calc(100% - 350px);
  box-sizing: border-box;
  padding: 0 30px;
  margin-top: 40px;
  overflow-y: auto;
  border-bottom: 1px dashed #333;
}

aside ul li {
  display: flex;
  background: none !important;
  padding: 0;
  width: 100%;
  margin-bottom: 20px;
  height: 38px;
}

aside h2 {
  text-align: center;
  font-size: 32px;
  color: #eee;
  padding: 0 4%;
  line-height: 32px;
  margin-top: 28px;
}

aside img {
  width: 32px;
  height: 32px;
  border-radius: 38px;
  margin-right: 15px;
  float: left;
}

meter {
  --meter-margin: 3px;
  --meter-padding: 2px;
  --meter-background: none;
  --meter-border: 2px solid #ccc;
  --meter-border-radius: 24px;
  --meter-optimum-background: #ffea00;

  flex: 1;
  margin-top: var(--meter-margin);
  height: 25px;
  border-radius: var(--meter-border-radius);
  background: var(--meter-background);
}

aside button a {
  border: 1px solid rgb(51, 51, 51);
  display: inline-block;
  color: rgb(51, 51, 51);
  padding: 0.5rem 1.2rem;
  border-radius: 5px;
  text-align: left;
}

aside button p {
  line-height: 0;
  padding: 0.4rem 0 0.8rem;
  font-size: 12px;
  color: #333;
}

aside button {
  background: none;
  border: 0;
  margin-top: 1.5rem;
  width: 250px;
}

aside button svg {
  fill: #333;
  width: 5rem;
}

aside button em {
  height: 1rem;
  overflow: hidden;
  display: inline-block;
}

aside button em svg {
  width: 1.6rem;
  margin-left: 0.3rem;
}

main button a:hover p {
  color: #fff;
  transition: all 0.8s;
}

main button a:hover {
  text-decoration: none;
  background: #000;
  transition: all 0.8s;
}

main button a:hover svg {
  fill: #fff;
  transition: all 0.5s;
}

meter::-webkit-meter-bar {
  background: var(--meter-background);
  border: var(--meter-border);
  border-radius: var(--meter-border-radius);
  padding: var(--meter-padding);
  height: 26px;
}

/* 最优 */
meter::-webkit-meter-optimum-value {
  border-radius: var(--meter-border-radius);
  background: var(--meter-optimum-background);
}

/* 凑合 */
meter::-webkit-meter-suboptimum-value {
  border-radius: var(--meter-border-radius);
  background: #ccc;
}

/* 最糟糕 */
meter::-webkit-meter-even-less-good-value {
  border-radius: var(--meter-border-radius);
  background: rgb(255, 4, 4);
}

/* Firefox */
meter::-moz-meter-bar {
  margin: var(--meter-margin);
  padding: var(--meter-padding);
  border-radius: var(--meter-border-radius);
  height: 15px;
  background: var(--meter-optimum-background);
  /* stylelint-disable-next-line unit-whitelist */
  background-image: linear-gradient(90deg, #8bcf69 5%, #e6d450 5%, #e6d450 15%, #f28f68 15%, #f28f68 55%, #cf82bf 55%, #cf82bf 95%, #719fd1 95%, #719fd1 100%);
  background-size: 100% 100%;
}

meter:-moz-meter-sub-optimum {
  border: var(--meter-border);
}

.learn-more {
  font-size: 22px;
  width: 100%;
  display: inline-block;
  text-align: center;
  padding: 0 20px;
  box-sizing: border-box;
  margin-top: 25px;
}

.learn-more img {
  float: none;
  border-radius: 0;
  width: 90px;
  height: auto;
  margin: 0;
}

.learn-more hr {
  width: 100%;
  border: 1px solid #a5a5a7;
  margin: 5px 0;
}

.learn-more-box {
  display: none;
  position: absolute;
  bottom: 120px;
  right: 250px;
  background: #d2d2d2;
  border: 2.5px solid #eee;
  border-radius: 20px;
  padding: 18px;
  width: 390px;
  box-sizing: border-box;
  text-align: center;
}

.learn-more-box img {
  float: left;
  width: 105px;
  height: auto;
  border-radius: 0;
  margin: 0;
}

.learn-more-box hr {
  border: 1px solid #666;
  margin: 0;
  position: absolute;
  top: 80px;
  width: 220px;
}

.learn-more-box div {
  width: 222px;
  padding-left: 16px;
  display: inline-block;
  text-align: center;
  position: relative;
}

.learn-more-box div img {
  width: 220px;
  margin: 5px 0;
  float: none;
  display: inline-block;
}

.learn-more-box div img:nth-child(2) {
  margin-top: 0;
}

.learn-more-box div div {
  width: auto;
  padding: 0 10px;
  display: inline-block;
  position: relative;
  z-index: 1;
  background: #d2d2d2;
}

.learn-more img:nth-child(3) {
  width: 205px;
  margin-top: 8px;
}

.learn-more-box div img:first-child {
  width: 120px;
}

.learn-more-box svg.moon {
  width: 35px;
  border: 1px solid #666;
  border-radius: 35px;
  fill: #666;
  transition: all 0.3s;
}

.learn-more-box svg.moon:hover {
  background: #000;
  fill: #fff;
}

.learn-more:hover .learn-more-box {
  display: block;
}
