/* styles for <toc> of content page */

.toc {
  background: rgb(42, 44, 53);
  width: 270px;
  height: calc(100% - 260px);
  position: absolute;
  left: 0;
  top: 120px;
  box-sizing: border-box;
  margin-left: 40px;
  overflow-y: auto;
  padding-top: 20px;
}

.toc ul {
  width: 100%;
  box-sizing: border-box;
  margin: 0;
}

.toc ul li {
  line-height: 48px;
  background: none;
  background-size: 0.63rem;
  font-size: 14px;
  padding: 0;
  margin: 0;
  border-left: 3px solid rgb(42, 44, 53);
}

.toc ul li a {
  width: 220px;
  display: block;
  padding-left: 20px;
  color: #dfe5ef;
  box-sizing: border-box;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.toc ul li ul {
  display: none;
  width: 100%;
  padding: 0.19rem 0 0.19rem 2.1rem;
  box-sizing: border-box;
  height: auto;
  border-bottom: none;
}

.toc ul li li {
  width: 220px;
  border-left: 0.06rem solid #333;
  font-size: 12px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  line-height: 2.1rem;
}

.toc ul li li a {
  width: auto;
}

.toc li.active{
  border-left: 3px solid #454855;
  color: rgb(238, 238, 238);
  background: #353740;
}

.toc ul li a:hover {
  text-decoration: none;
  color: #fff;
}

.toc ul li.active li a {
  padding-left: 21px;
}

.toc li.active ul li a {
  color: rgb(123, 124, 127);
  background: none;
  border: none;
}

.toc li ul li.selected a {
  color: #fff;
}

.toc ul li.active li:hover a {
  color: #fff;
}

.toc li ul li.selected {
  border-left: 0.06rem solid #888;
}

.toc li.active ul {
  display: block;
}

.toc li.fold {
  background: url("/static/img/right.svg") no-repeat 240px 18px;
  background-size: 0.45rem;
}

.toc li.unfold {
  background: url("/static/img/down.svg") no-repeat 237px 20px #353740;
  background-size: 0.8rem;
  border-left: 3px solid #454855;
}
