table{
  border: 0.06rem solid rgb(224, 224, 224);
  border-left:none;
  line-height: 2rem;
  text-align: center;
  border-spacing:0;
}

table th{
  border-bottom: 0.06rem solid rgb(224, 224, 224);
  border-left: 0.06rem solid rgb(224, 224, 224);
  background: rgb(28, 172, 244);
  color: #fff;
  line-height: 2.7rem;
  font-size: 20px;
}

table td{
  border-bottom: 0.06rem solid rgb(224, 224, 224);
  border-left: 0.06rem solid rgb(224, 224, 224);
  padding: 0.15rem 0;
}

table tbody tr:nth-of-type(even){
 background: rgb(235, 235, 235);
}